@model MelnikauDV.Models.Advertisement

@{
    ViewData["Title"] = "Информация о рекламе";
}

<h1>Детали</h1>

<div>
    <h4>Реклама</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    <div class="form-row">
            <a asp-action="Edit" asp-route-id="@Model.AdvertisementId"><i class="fa fa-marker fa-lg"></i></a> |
            <a asp-action="Index" ><i class="fas fa-arrow-left"></i></a>
 
    </div>
</div>
